$row-color: #bbbabacb;
$header-color: #039b9b;

td {
    border-bottom: 1px solid $row-color;

    @for $i from 2 to 8 {
        &:nth-child(#{$i}) {
            border-left: 1px solid $row-color;
        }
    }
}

table {
    border-collapse: collapse;
    text-align: center;
}

th {
    border-bottom: 1px solid $header-color;
    background-color: $header-color;
    color: #ffffff;
    
    padding: 10px;

    &:last-child {
        border-top-right-radius: 15px;
    }

    &:first-child {
        border-top-left-radius: 15px;
    }
}

td {
    padding: 10px;
}